node_modules
dist
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.env.*
!.env.example

**/thumbnails/*
!**thumbnails/.gitkeep

**/videos/*
!**/videos/.gitkeep

apps/desktop/public/player/*
!apps/desktop/public/player/.gitkeep

apps/desktop/public/console/*
!apps/desktop/public/console/.gitkeep

**/dist/*