body {
  margin: 0;
  background-color: black;
}

video {
  position: absolute;
}

.video-wrapper {
  height: 100%;
}

.container {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
}

video {
  height: 100%;
  display: none;
}